// fonts
$header_font: PP Neue Montreal, Roboto, sans-serif;
$code_font: Space Mono, Inconsolata, monospace;
// colors
$base: #191724;
$text: #e0def4;
$pine: #31748f;
$gold: #f6c177;
$love: #eb6f92;
$light-base: #fffaf3;
$light-focus: #f2e9e1;

.ascii_art {
    margin: 20px;
}

* {
    padding: 0;
    margin: 0;
    color: $text;
    font-size: 45px;
    font-family: $header_font;
}

body {
    background-color: $base;
    size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#ascii p{
    font-family: $code_font;
    color: $pine;
}

.title {
    font-weight: 800;
    text-align: center;
}

.searchbar {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: $light-focus;
    padding: 0px 10px;
    font-size: 24px;
    border: 0;
    color: $base;
    text-align: center;
    transition-duration: 100ms;
    font-weight: 400;
}

.bar-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

#search-icon {
    width: 60px;
    margin-left: 10px;
}
#search-icon path {
    color: $love;
}

.searchbar:focus {
    outline: outside;
    outline-color: $gold;
    outline-style: solid;
    outline-width: 4px;

    background-color: $light-base;
}
